# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
env311/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg-info/
.installed.cfg
*.egg
instance/
.env
*.db
*.sqlite3

# Database / Vector Store
chroma_db/
database/*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Node
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
